#!/bin/sh

DJANGODIR={{ django_manage_path }}

# Activate the virtual environment.
cd $DJANGODIR
. {{ python_venv_path }}/bin/activate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery -A {{ django_application_name }} worker -E -l warning --concurrency={{ celery_num_workers }} {% if django_enable_celery_beat %} -B {% endif %}
