#!/bin/sh

NAME="{{ application_name }}"
DJANGODIR="{{ django_manage_path }}"
SOCKFILE={{ application_run_path }}/daphne.sock
USER={{ application_user }}
GROUP={{ application_group }}
NUM_WORKERS={{ gunicorn_num_workers }}


echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd $DJANGODIR
. {{ python_venv_path }}/bin/activate


# Create the run directory if it doesn't exist.
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec daphne -v1 {{ django_application_name }}.asgi:application --ping-interval 30 --ping-timeout 5 --websocket_connect_timeout 10 --websocket_timeout -1 -u $SOCKFILE